*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.ppu
*.lib
*.a
*.o
*.ocx
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
__history/
__recovery/
*.~*
*.stat
./dcu/*.obj
./dcu/*.res